.HeaderContainer {
    padding: 1rem;
    width: 100%;
    background-color: #fff;
}
.HeaderImage {
    width: 70%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.HeaderText {
    font-size: 1.5rem;
    color: #333;
    padding: 1rem;
}